<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Face Recognition</title>
        <meta content="width=device-width, initial-scale=1" name="viewport">
        
        <link href="css/styles.css" rel="stylesheet" type="text/css">
      
        <link rel="apple-touch-icon" sizes="57x57" href="images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="images/apple-icon-144x144.png" >
        <link rel="apple-touch-icon" sizes="152x152" href="images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
    </head>
    </head>
    <body>
        
    <section class="Login">
        <div class="container1">
            <div class="intro-text">
                <h5>Create an account to use<br/>our services</h5>
            </div>
            <div class="inputs">
                <div class="name-input">
                    <div id="inputOne">
                        <label>First Name</label>
                        <input type="text" placeholder="First name">
                    </div>
                    <div id="inputTwo">
                        <label>Last Name</label>
                        <input type="text" placeholder="Last name">
                    </div>
                    <div class="email-input">
                        <label>Email</label>
                        <input type="email" placeholder="Enter your email address">
                    </div>
                    <div class="btn-box">
                        <p>By joining you agree to our privacy and policy.</p>
                        <button>Sign up</button>
                    </div>
                </div>
            </div>
        </div>
</section>
    </body>
</html>