<html>

<head>
  <title>Login/Signup</title>

  <!-- Bootstrap CSS CDN -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="css/signup.css">

</head>

<body>

<!-- <div class="container">
  <div class="row">
    <div class="col-sm"> -->
	
  <div class="container mainContent">
    <h1 class="text-center heading_h1">Face Recognition <span class="sub_h1">- Signup</span></h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-6 col-xs-offset-3 loginContainer">
        <form method="post">
          <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 form-group">
            <input type="text" name="username" placeholder="Username" class="form-control" required="" />
          </div>
		  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 form-group">
            <input type="text" name="name" placeholder="Name" class="form-control" required="" />
          </div>
		  <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2 form-group">
            <input type="text" name="email" placeholder="Email" class="form-control" required="" />
          </div>

          <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2  form-group">
            <input type="password" name="password" placeholder="Password" class="form-control" required="" />
          </div>

          <div class="col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2  form-group" align="center">
		  
            <button class="login_btn" name="sign up">Sign Up</button>
            
          </div>
        </form>
<div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1" align="center">
          <p class="signupLink">Registered?<a href="login.html" class="signup"> Login </a></p>
        </div>
      </div>
    </div>
  </div>
  

  <!-- jQuery CDN -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <!-- Bootstrap JS CDN -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>